html {
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(20, 241, 134, 0.4);
    border-radius: 5px;
}


/*-------------------------header-------------------------*/


header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(235, 180, 180);
}

header h5 {
    margin: 0 0 0 6px;
}

header h1 {
    margin: 0 0 0 6px;
    font-family: 'DotGothic16', sans-serif;
}


/*-------------------------main---------------------------*/


#introduce {
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

#introduce a {
    font-size: 3vw;
    border: 1px solid;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 2.1vw;
    padding-right: 2.1vw;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    background-color: rgba(196, 196, 196, 0.9);
    font-family: 'DotGothic16', sans-serif;
}

#introduce a:hover {
    color: red;
}

#story {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    background-color: rgb(177, 217, 255);
}

#main h3 {
    padding-left: 10px;
    font-family: 'DotGothic16', sans-serif;
}

#main p {
    padding-left: 10px;
}

#info {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    background-color: rgb(177, 217, 255);
}

#staff {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    background-color: rgba(177, 217, 255, 1.0);
}

.staff {
    display: inline-block;
    padding-left: 10px;
    width: 9em;   
    padding-bottom: 15px; 
}

.name{
    display: inline-block;
    width: 9em;
    padding-bottom: 15px;
}

#link {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    background-color: rgba(177, 217, 255, 1.0);
}


/*------------------------footer--------------------------*/
